/* import google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,200;0,400;0,700;1,200;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor: hsl(225, 50%, 48%);
  --secondaryColor: hsl(180, 17%, 95%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28, 100%, 82%);
  --hoverColor: hsl(225, 56%, 59%);
  --whiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 12%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0, 0%, 83%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --transition: 0.4s ease-in-out;
}

/* Default Styling */
body {
  background-color: var(--whiteColor);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  cursor: pointer;
}
.section {
  padding: 4rem 0 2rem;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon {
  font-size: 1.3rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
}
.none {
  display: none;
}
.btn {
  padding: 0.7rem 1.5rem;
  background: var(--primaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  cursor: pointer;
  color: var(--whiteColor);

  a {
    color: var(--whiteColor);
    font-weight: 500;
  }

  &:hover {
    background: var(--hoverColor);
  }
}
img,
video {
  width: 100%;
  height: auto;
}
input {
  font-size: 100%;
  color: var(--greyText);
}
p {
  font-size: 13px;
  color: var(--greyText);
  line-height: 22px;
}
h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--BlackColor);
}
h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--BlackColor);
}

/* Start Navbar */
.navbar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
.navbar-one,
.navbar-two {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navbar-one {
  background: var(--secondaryColor);
}
.navbar-one .icon:hover {
  color: var(--primaryColor);
}
.navbar-one .mid-items {
  gap: 1rem;
}
.navbar-one .mid-items .info {
  gap: 0.5rem;
}
.navbar-one .atb {
  gap: 1rem;
}
.navbar-one .atb span {
  color: var(--BlackColor);
  font-size: 13px;
  cursor: pointer;
}
.navbar-one .atb span:hover {
  color: var(--primaryColor);
  font-weight: 700;
}
.navbar-two {
  background: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.navbar-two .navbar-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.navbar-two .navbar-menu .menu {
  gap: 1rem;
}
.navbar-two .navbar-menu .menu li {
  cursor: pointer;
  color: var(--BlackColor);
  font-size: 20px;
}
.navbar-two .navbar-menu .menu li:hover {
  color: var(--primaryColor);
  font-weight: 700;
}
.navbar-two .logo-div {
  margin-left: 5rem;
}
.navbar-two .logo-div .logo {
  font-size: 48px;
}
.toggle-icon {
  display: none;
}
@media (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    background: var(--secondaryColor);
    flex-direction: column;
    width: 70%;
    padding: 1.7rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    top: 5rem;
    right: -50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    z-index: 2000;
    box-shadow: var(--boxShadow);
    border: 3px solid var(--whiteColor);
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -webkit-border-radius: 10px;
  }
  .navbar-two .logo-div {
    margin-left: 1rem;
  }
  .navbar-menu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .navbar-menu .menu li {
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--BlackColor);
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
  }
  .navbar-menu .menu li:hover {
    color: var(--primaryColor);
    font-weight: 700;
  }
  .navbar-menu .btn-one {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }
  .navbar-two .toggle-icon {
    display: block;
  }
  .navbar-two .toggle-icon .icon {
    font-size: 30px;
    color: var(--BlackColor);
  }
  .show-navbar {
    right: 50%;
  }
}
.add-bg {
  background: var(--secondaryColor);
  box-shadow: var(--boxShadow);
}
/* Start Home Page */
.home {
  text-align: center;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.home .main-text {
  color: var(--BlackColor);
  font-weight: 700;
  line-height: 3rem;
}
.home .home-imgs {
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
  position: relative;
  border-end-start-radius: 3rem;
}
.home .home-imgs .video-div .video {
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}
.home .home-imgs .plane {
  position: absolute;
  top: -35%;
  transform: rotate(13deg);
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
}

/* Start Search Here  */
.search .section-container {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--greyBg);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  row-gap: 2rem;
}
.search .section-container .btns {
  background: var(--secondaryColor);
  padding: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  flex-direction: column;
  margin: auto;
}
.search .section-container .btns .single-btn {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  width: 80%;
  text-align: center;
}
.search .section-container .btns .single-btn:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
  font-weight: 500;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
.search .section-container .active {
  background: var(--primaryColor);
  color: var(--whiteColor);
  font-weight: 500;
}
.search .section-container .search-inputs {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.search .section-container .search-inputs .single-input .icon-div {
  padding: 16px 10px;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  background: var(--secondaryColor);
  margin-right: 1rem;
}
.search .section-container .search-inputs .single-input .icon-div .icon {
  color: var(--BlackColor);
  opacity: 0.7;
}
.search .section-container .search-inputs .single-input .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: var(--BlackColor);
  font-weight: 700;
}
.search .section-container .search-inputs .single-input .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search
  .section-container
  .search-inputs
  .single-input
  .texts
  input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}
/* Start Support Here */
.support .section-container .titles-div {
  text-align: center;
}
.support .section-container .titles-div small {
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--BlackColor);
  line-height: 1.5rem;
}
.support .section-container .info-div {
  margin-top: 2rem;
  gap: 1.5rem;
}
.support .section-container .info-div .text-div {
  gap: 1.5rem;
}
.support .section-container .info-div .text-div .single-info .number {
  background: var(--primaryColor);
  padding: 5px 12px;
  width: 40px;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: var(--whiteColor);
}
.support .section-container .info-div .text-div .single-info .color-one {
  background: var(--colorOne);
}
.support .section-container .info-div .text-div .single-info .color-two {
  background: var(--colorTwo);
}
.support .section-container .info-div .img-div {
  margin: auto;
}
.support .section-container .info-div .img-div img {
  width: 100%;
  max-width: 420px;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
/* Start Info Here */
.info {
  background: var(--secondaryColor);
}
.info .info-container .title-div {
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  justify-content: space-between;
}
.info .info-container .cards-div {
  gap: 1.5rem;
  margin-top: 3rem;
}
.info .info-container .cards-div .single-card {
  background: var(--whiteColor);
  padding: 3rem 2rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  gap: 1rem;
  text-align: center;
  width: 90%;
  height: 320px;
  max-width: 250px;
  margin: auto;
}
.info .info-container .cards-div .single-card .icon-div {
  justify-content: center;
  margin: auto;
  background: var(--primaryColor);
  width: max-content;
  height: 55px;
  padding: 1rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.info .info-container .cards-div .single-card .color-one {
  background: var(--colorOne);
}
.info .info-container .cards-div .single-card .color-two {
  background: var(--colorTwo);
}
.info .info-container .cards-div .single-card .icon-div .icon {
  color: var(--whiteColor);
}
.info .info-container .cards-div .single-card .card-title {
  color: var(--BlackColor);
  font-weight: 700;
}

/* Start Lounge Here */
.lounge .section-container {
  gap: 1.5rem;
}
.lounge .section-container .img-div {
  margin: auto;
}
.lounge .section-container .img-div img {
  width: 100%;
  max-width: 430px;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.lounge .section-container .text-div .grids {
  margin-top: 1rem;
  gap: 1.5rem;
}
.lounge .section-container .text-div .grids .single-grid .grid-title {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: var(--BlackColor);
}
/* Start Travelers Here */
.travelers .section-container {
  text-align: center;
}
.travelers .section-container .travelers-container {
  margin-top: 1rem;
  gap: 1.5rem;
}
.travelers .section-container .travelers-container .single-traveler {
  position: relative;
  height: 280px;
  width: 85%;
  max-width: 250px;
  overflow: hidden;
  gap: 1rem;
  margin: auto;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}
.travelers .single-traveler .destination-image,
.traveler-image,
.traveler-name {
  position: absolute;
}
.travelers .single-traveler .destination-image {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.travelers .single-traveler .traveler-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: 30px;
  left: 40%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border: 5px solid rgba(225, 225, 225, 0.637);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  animation: animated 2.3s infinite;
  -webkit-animation: animated 2.3s infinite;
}
@keyframes animated {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
.travelers .single-traveler .traveler-name {
  bottom: -100%;
  width: 100%;
  height: max-content;
  background: var(--whiteColor);
  padding: 1.5rem 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  animation: animated-borders 2.3s infinite;
  -webkit-animation: animated-borders 2.3s infinite;
}
.travelers .single-traveler .traveler-name span {
  display: block;
  color: var(--BlackColor);
  font-weight: 700;
}
.travelers .single-traveler .traveler-name p {
  color: var(--primaryColor);
  font-style: italic;
}
@keyframes animated-borders {
  0% {
    border-radius: 0rem;
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    -ms-border-radius: 0rem;
    -o-border-radius: 0rem;
  }
  50% {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
  100% {
    border-radius: 0rem;
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    -ms-border-radius: 0rem;
    -o-border-radius: 0rem;
  }
}
.travelers .single-traveler:hover .traveler-name {
  bottom: 0;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
.travelers .single-traveler:hover .traveler-image {
  bottom: 110px;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* Start Subscribe */
.subscribe {
  background: var(--greyBg);
}
.subscribe .section-container {
  text-align: center;
  padding: 4rem 0 0rem;
  width: 70%;
  margin: auto;
}
.subscribe .section-container form {
  margin-top: 1rem;
  flex-direction: column;
  background: var(--whiteColor);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.subscribe .section-container form input {
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem 0.5rem;
}
.subscribe .section-container form input::placeholder {
  font-size: 13px;
  opacity: 0.5;
}
.subscribe .section-container form .btn {
  width: 100%;
  border: 1px solid var(--greyBg);
}
/* Start Footer */
.footer {
  background: var(--greyBg);
}
.footer .section-container {
  gap: 2.5rem;
}
.footer .section-container .grid-one {
  gap: 1rem;
  justify-content: center;
  margin: auto;
}
.footer .section-container .grid-one .social-icon {
  margin-top: 1rem;
  gap: 1rem;
}
.footer .section-container .grid-one .social-icon .icon {
  height: 50px;
  width: 30px;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border: 1px solid var(--borderColor);
  box-shadow: var(--boxShadow);
  padding: 0.3rem;
  color: var(--greyText);
}
.footer .section-container .grid-one .social-icon .icon:hover {
  background: var(--primaryColor);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transform: translateY(-7px);
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
  color: var(--whiteColor);
  border: 1px solid var(--primaryColor);
}
.footer .section-container .footer-links {
  display: grid;
  padding-left: 2rem;
}
.footer .section-container .footer-links .link-tilte {
  color: var(--BlackColor);
  font-weight: 500;
  display: block;
  padding-bottom: 1rem;
}
.footer .section-container .footer-links li a {
  display: block;
  padding: 0.3rem 2rem;
  color: var(--greyText);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.footer .section-container .footer-links li a:hover {
  transform: translateX(7px);
  -webkit-transform: translateX(7px);
  -moz-transform: translateX(7px);
  -ms-transform: translateX(7px);
  -o-transform: translateX(7px);
  color: var(--primaryColor);
}
.copy-right-div {
  justify-content: center;
  margin-top: 1.5rem;
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid var(--greyText);
  text-align: center;
}
/* Style Screens */
@media screen and (min-width: 480px) {
  .home {
    padding-top: 5rem;
  }
  .search .section-container .search-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .travelers .section-container .travelers-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe .section-container {
    max-width: 80%;
    margin: auto;
  }
  .subscribe .section-container form {
    flex-direction: row;
  }
  .subscribe .section-container form input {
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    padding: 0 0.5rem;
  }
  .footer .section-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 570px) {
  .home .main-text {
    width: 80%;
  }
  .home .home-images .video {
    border-radius: 15rem;
    -webkit-border-radius: 15rem;
    -moz-border-radius: 15rem;
    -ms-border-radius: 15rem;
    -o-border-radius: 15rem;
  }
  .home .home-images .plane {
    position: absolute;
    width: 95%;
    top: -8%;
  }
  .search .section-container .btns {
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    flex-direction: row;
  }
  .support .section-container .info-div .text-div {
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .info .info-container .title-div {
    flex-direction: row;
  }
  .info .info-container .title-div h2 {
    text-align: left;
    max-width: 500px;
  }
  .info .info-container .cards-div {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .section-container .text-div .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe .section-container form {
    justify-content: space-between;
  }
  .subscribe .section-container form .btn {
    max-width: max-content;
  }
  .footer .section-container {
    padding-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 680px) {
  .home .main-text {
    width: 80%;
  }
  .home .home-images .video-div {
    width: 80%;
  }
  .home .home-images .video-div .video {
    height: 100%;
    width: 100%;
    border-radius: 15rem;
    -webkit-border-radius: 15rem;
    -moz-border-radius: 15rem;
    -ms-border-radius: 15rem;
    -o-border-radius: 15rem;
  }
  .home .home-images .plane {
    width: 95%;
    top: -8%;
  }
  .search .section-container .btns {
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    flex-direction: row;
  }
  .search .section-container .search-inputs {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .section-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 13px;
    line-height: 22px;
  }
  h4 {
    padding: 1rem 0;
    font-weight: 700;
    font-size: 20px;
  }
  h2 {
    font-size: 27px;
  }
  .secton {
    padding: 6rem 0 4rem;
  }
  .container {
    width: 75%;
    margin: auto;
  }
  .home {
    padding-top: 10rem;
    height: 100vh;
  }
  .home .main-text {
    color: var(--BlackColor);
    font-weight: 700;
    line-height: 8rem;
    font-size: 38px;
    text-shadow: #0000004d 1px 1px;
  }
  .home .home-imgs {
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    position: relative;
    border-end-start-radius: 3rem;
  }
  .home .home-imgs .video-div {
    width: 100%;
    height: 500px;
  }
  .home .home-imgs .video-div .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15rem;
    -webkit-border-radius: 15rem;
    -moz-border-radius: 15rem;
    -ms-border-radius: 15rem;
    -o-border-radius: 15rem;
}
  .home .home-imgs .plane {
    width: 100%;
    top: -25%;
    transform: rotate(9deg);
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -o-transform: rotate(9deg);
}
  .search .section-container .btns {
    width: 60%;
  }
  .search .section-container .search-inputs {
    grid-template-columns: repeat(5, 1fr);
}
.support .section-container .info-div {
  grid-template-columns: repeat(2,1fr);
}
.support .section-container .info-div .text-div {
  grid-template-columns: none;
}
.info .info-container .title-div {
  justify-content: center;
}
.info .info-container .cards-div {
  grid-template-columns: repeat(3, 1fr);
}
.info .info-container .cards-div {
  grid-template-columns: repeat(3, 1fr);
}
.lounge .section-container {
  grid-template-columns: repeat(2, 1fr);
}
.travelers .section-container .travelers-container {
  grid-template-columns: repeat(4, 1fr);
}
.subscribe .section-container {
  max-width: 40%;

}
}
